{% load static %}
<html>
   <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="{% static 'style.css' %}">

   </head>
<body>
   <header><h1 style="text-align:center;">Client Management System</h1> </header>

<h1>Thankyou! your response has been recorded</h1>
<h3>Project Name: {{project.projectname}}</h3>
<h3>SOD: {{project.sod}}</h3>
<h3>Module: {{project.modules}}</h3>
<h3>Cost: {{project.cost}}</h3>
<h3>Region: {{project.region}}</h3>
<h3>Start Date: {{project.startdate}}</h3>
<h3>End Date: {{project.enddate}}</h3>
<h3>Representative: {{project.name}}</h3>
<h3>Email: {{project.email}}</h3>
<button ><a href="{% url 'index' %}">Go Back</a></button>
   <footer>
    <p>powered by WAVETEC</p>
 </footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</script>
</body>
</html>