{% load static %}
<html>
   <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="{% static 'style4.css' %}">
      <style>
          body{
            background-image: "{% static 'imgs/background.png' %}";
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
          }
      </style>

   </head>
<body id="loginpg">
    {% if message %}
    <div>{{ message }}</div>
{% endif %} 
    <div class="container">
        <div class="row justify-content-center">
         <img id="logo" src="{% static 'imgs/logo.png' %}" alt="">
        </div>
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
        <div class="row justify-content-center" >
            <input autofocus name="username" style="font-weight: 350;" type="text" id="userinput" placeholder="Username">
        </div>
        <div class="row justify-content-center" >
            <input  style="font-weight: 350;" name="password" type="password" id="userinput" placeholder="Password">
           </div>
           <div style="color: #042737;font-size: 18px;margin-bottom: 7%;margin-top: 3%;" class="row justify-content-center">
               <input type="checkbox" name="" id="box" >Remember Me<a style="color: #208AAE;margin-left: 20%;" href="">Forgot Password?</a>
           </div>
        
           <div class="row justify-content-center">
               <button type="submit" id="login" value="Login"><a style="color: #EEEEEE;text-decoration: none;" href="{% url 'login' %}">Log In</a></button>
           </div>
           <div style="color:#208AAE;font-size: 16px;font-weight:500;margin-top: 1%;" class="row justify-content-center">
            <a href="{% url 'entry' %}">Enter Your Data</a>
        </div>

        </form>
    </div>

   <footer>
    <p style="color: white;">powered by WAVETEC</p>
 </footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script>

</script>
</body>
</html>